<!-- GW Points Modal (nested on top of player modal) -->
<div id="gw-points-modal" class="modal modal--nested modal--gw-points">
  <div class="modal-panel modal-panel--gw-points">
    <button class="btn btn--danger btn--small modal-close" type="button">✕</button>
    <div class="gw-points-modal-content"></div>
  </div>
</div>
