<!-- Player Stats Modal -->
<div id="player-modal" class="modal modal--nested">
  <div class="modal-panel modal-panel--compact">
    <button id="close-player-modal" class="btn btn--danger btn--small modal-close" type="button">✕</button>
    <div id="player-modal-content"></div>
  </div>
</div>
