<!-- Squad Modal -->
<div id="squad-modal" class="modal">
  <div class="modal-panel">
    <button id="close-squad-modal" class="btn btn--danger btn--small modal-close" type="button">✕</button>
    <div id="squad-modal-content"></div>
  </div>
</div>
